@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inconsolata;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h3 {
  margin: 0;
}

p {
  font-size: 15px;

  @media (min-width: 450px) {
    font-size: 17px;
  }
}

/* React Chrono custom style */

.timeline-main-wrapper {
  padding: 0 !important;

  & > div {
    padding: 0;
  }

  .timeline-item-title {
    @media (min-width: 450px) {
      font-size: medium;
    }
  }

  .card-title {
    padding-left: 0;

    @media (min-width: 450px) {
      font-size: large;
    }
  }

  .card-sub-title {
    font-size: 16px !important;
  }

  .card-description {
    margin: 0;
    padding: 0;

    p {
      margin: 0.3em 0;
    }
  }

  .timeline-card-content {
    border: 2px solid black !important;
    border-radius: 0px !important;

    padding: 12px !important;

    @media (min-width: 450px) {
      padding: 20px !important;
    }
  }

  .vertical-item-row {
    & > div:first-child {
      //  left title of timeline
      width: 30%;
    }
  }

  .card-content-wrapper {
    width: 60%;
  }
}

/* Carousel */
.carousel-root {
  max-width: 1000px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;

  @media (min-width: 750px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 1000px) {
    margin-left: auto;
    margin-right: auto;
  }

  .carousel {
    .thumbs-wrapper {
      display: flex;
      justify-content: center;
      margin: 0;

      .thumbs {
        padding-inline-start: 0px;
      }

      .thumb {
        padding: 0px;
        border-radius: 2px;
        margin-right: 0px;

        &:not(:first) {
          margin-left: 6px;
        }

        @media (max-width: 750px) {
          width: 40px !important;
        }
      }
    }

    .slide {
      img {
        border-radius: 5px;
        padding: 30px;
      }

      &.selected {
        img {
          transition: padding 1s;
          padding: 0px;
        }
      }
    }
  }
}
