.root {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  background-color: #f7f7f7;

  flex-direction: column;

  @media (min-width: 450px) {
    flex-direction: row;
  }
}

.main {
  height: 100%;
  // width: 100%;
}

.content {
  @media (min-width: 1400px) {
    padding: 0 20%;
  }

  @media (min-width: 450px) {
    padding: 0 10%;
  }
}
